/* Global styles  */

body {
  margin: 0;
  /* this font size will effect all elements (other than h1 -> h6) on the page */
  font-size: 21px;
}

/* ========
Typography 
======== */

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

/* ========
Layout 
======== */

header {
  background-color: #588C94;
  color: white;
  padding: 30px 0;
  text-align: center;
}

.intro {
  width: 500px;
  margin: 100px auto;
  text-align: center;
}

.my-skills {
  background-color: #1D3C41;
  color: #fff;
  padding: 75px 0;
  text-align: center;
}

.columns {
  display: flex;
}

.column {
  margin:5px;
  width: 300px;
}


@media (max-width: 600px) {
  h1 {
   width: 100%;
  }
}

@media (min-width: 601px) {
  h1 {
   width: 100%;
  }
}

@media (min-width: 768px) {
  h1 {
   width: 100%;
  }
}

@media (min-width: 992px) {
  h1 {
   width: 100%;
  }
}

@media (min-width: 1200px) {
  h1 {
   width: 100%;
  }
}

@media (max-width: 600px) {
  .intro {
    width: 100%;
  }
  
}

@media (min-width: 601px) {
  .intro {
   width: 100%;
  }
}

@media (min-width: 768px) {
  .intro {
   width: 100%;
  }
}

@media (min-width: 992px) {
  .intro {
   width: 100%;
  }
}

@media (min-width: 1200px) {
  .intro {
   width: 100%;
  }
}

@media (max-width: 600px) {
  .columns {
    width: 100%;
  }
  
}

@media (min-width: 601px) {
  .columns {
   width: 100%;
  }
}

@media (min-width: 768px) {
  .columns {
   width: 100%;
  }
}

@media (min-width: 992px) {
  .columns {
   width: 765px;
   margin-left: auto;
   margin-right: auto;
  }
}

@media (min-width: 1200px) {
  .intro {
    width: 765px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1400px) {
  .intro {
    width: 765px;
    margin-left: auto;
    margin-right: auto;
  }
}
